.postsBlock {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.posts {
    margin-top: 10px
}

.textarea {
    width: 286px;
    
}

textarea {
    width: 100%
}
.btn {
    width: 50%;
    margin: 0 auto;
    border: none;
    width: 100px;
    height: 50px;

}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.btndiv {
    display: flex;
    justify-content: center;
    width: 100%
}