.descriptionBlock {
  padding: 10px
}


.imgMain {
  height: 30%;
  width: 30%
  
}

.item {
  color: green;
}

.profileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}