.app-wrapper {
  margin-left: 10%;
  display: grid;
  width: 80%;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
}

.app-wrapper-content {

  grid-area: c;
  background-color: cornflowerblue;

}