.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems  {
    padding: 10px;
}

.dialogsItems .active {
    color: gold
}



.messages {
    padding: 10px
}

.msgSend {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-top: 10%

}
